@page
@model WebApplication1.Pages.Alcohols.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome! Alcohol for everyone!</h1>
    <p>Buy here <a href="https://alkohol-online.pl/">the best alcohols</a>.</p>
    <p>The time on the server is @DateTime.Now</p>
    <p>EUR exchange rate: @ViewData["CurrencyRateEUR"] PLN</p>
    <p>USD exchange rate: @ViewData["CurrencyRateUSD"] PLN</p>
    <p>CHF exchange rate: @ViewData["CurrencyRateCHF"] PLN</p>
    <p>GBP exchange rate: @ViewData["CurrencyRateGBP"] PLN</p>
</div>

