@page
@model WebApplication1.Pages.Alcohols.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome! Alcohol for everyone!</b></h1>
    <p><b>Buy here <a href="https://alkohol-online.pl/">the best alcohols</a>.</b></p>
    <p><b>The time on the server is @DateTime.Now</b></p>
    <p><font color="blue"><b>EUR exchange rate: @ViewData["CurrencyRateEUR"] PLN</b></font></p>
    <p><font color="blue"><b>USD exchange rate: @ViewData["CurrencyRateUSD"] PLN</b></font></p>
    <p><font color="blue"><b>CHF exchange rate: @ViewData["CurrencyRateCHF"] PLN</b></font></p>
    <p><font color="blue"><b>GBP exchange rate: @ViewData["CurrencyRateGBP"] PLN</b></font></p>
    <p><font color="blue"><b>Actual weather: @ViewData["WeatherCelsi"] C</b></font></p>
</div>

